.red {
  color: red;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.lightblue {
  color: lightblue;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.black {
  color: black;
}

.lightblack {
  color: #333;
}

.content {
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  margin: 80px 10% 0 10%;
  width: 60%;
}

.sub-content {
  margin-left: 20px;
}
